$white: #fff;
$black: #212121;
$light-gray: #eaeaea;
$medium-gray: #eaeaea; // need a new color
$dark-gray: #323232;
$blue-01: #1192e8;
$blue-02: #33b1ff;
$teal-01: #08bdba;
$teal-02: #3ddbd9;
$red-01: #da1e28;


// #fff linear-gradient(90deg, #0043ce, #1192e8)
// gradients
